:root {
  --main-color: color-mix(in srgb, orange 20%, white);
  --header-color: color-mix(in srgb, orange 30%, white);
  --footer-color: color-mix(in srgb, orange 10%, white);
}

/* universal styling  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: gray;
  font-size: clamp(15px, 6vw, 35px);
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  grid-template-areas:
    "header header"
    "main aside"
    "footer footer";
}
header {
  grid-area: header;
  background-color: var(--header-color);
  padding: 20px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-align: center;
}

h1::first-letter {
  color: crimson;
  font-style: italic;
}

h1::after {
  content: "💻";
}
main {
  text-align: center;
}

main img {
  grid-area: main;
  filter: drop-shadow(2px 2px 10px rgb(144, 138, 138));
}

aside p {
  padding-inline: 50px;
  padding-top: 30px;
  grid-area: aside;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
  grid-area: footer;
  text-align: center;
  padding-top: 60px;
  background-color: var(--footer-color);
  font-size: 20px;
}

@media (max-width: 800px) {
  h1::after {
    display: none;
  }
}

@media (max-width: 680px) {
  .container {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    grid-template-areas:
      " header"
      "main"
      "aside"
      " footer";
  }
}